<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">

    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="/login">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="overlay">
        <a >&times;</a>
        <div class="overlay__content">
            <a href="/login">Login</a>
            <a href="#">Register</a>
            <a href="#">About</a>
        </div>
    </div>
    <h1>Warden</h1>
    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th><span>Name</span></th>
            <th><span>ID</span></th>
          </tr>
        </thead>
        <tbody>
            <% rows.forEach(function(book){ %>
          <tr>
            <td class="lalign"><%- book.id %></td>
            <td><%- book.warden_name %></td>
          </tr>
          <%});%>
        </tbody>
      </table>
      <h1>Inmates</h1>
      <div><table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th><span>Name</span></th>
            <th><span>ID</span></th>
          </tr>
        </thead>
        <tbody>
            <% rows1.forEach(function(book){ %>
          <tr>
            <td class="lalign"><%- book.id %></td>
            <td><%- book.name %></td>
          </tr>
          <%});%>
        </tbody>
      </table></div>
      <h1>cells</h1>
      <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th><span>Keywords</span></th>
            <th><span>Impressions</span></th>
          </tr>
        </thead>
        <tbody>
            <% rows2.forEach(function(book){ %>
          <tr>
            <td class="lalign"><%- book.id %></td>
            <td><%- book.jailor_id %></td>
          </tr>
          <%});%>
        </tbody>
      </table>
      <h1>Medical officer</h1>
      <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th><span>Keywords</span></th>
            <th><span>Impressions</span></th>
          </tr>
        </thead>
        <tbody>
            <% rows3.forEach(function(book){ %>
          <tr>
            <td class="lalign"><%- book.id %></td>
            <td><%- book.name %></td>
          </tr>
          <%});%>
        </tbody>
      </table>
<h1>Jailor</h1>
      <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th><span>Keywords</span></th>
            <th><span>Impressions</span></th>
          </tr>
        </thead>
        <tbody>
            <% rows4.forEach(function(book){ %>
          <tr>
            <td class="lalign"><%- book.id %></td>
            <td><%- book.jailor_name %></td>
          </tr>
          <%});%>
        </tbody>
      </table>
</body>
</html>